/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
 */
::-moz-selection{ background: #78B6DE; color:#fff; text-shadow: none; }
::selection { background:#78B6DE; color:#fff; text-shadow: none; }

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

/* bootstrap doesn't have support for centering span* on the grid, only .offset*   **/
.offsetEven {
	margin-left:auto;
	margin-right:auto;	
}

[class^="icon-"]{
	background-image:url("../Images/glyphicons-halflings.png");	
}

.icon-white {
	background-image:url("../Images/glyphicons-halflings-white.png");	
}

small { font-size:85%;}

header {
	background:transparent url("../images/markit_wave_bg.png") top left no-repeat;
	height:82px;
}

header .headerInner div {
	margin-top:25px;
}

header .pull-right {
	height:23px;
	width:240px;
	background:transparent url("../images/mod_logo_240x23.png") top left no-repeat;
	text-indent:-9999px;
}

/* nav */
.navbar-inner { 
	border-radius:0; 
	border-bottom: 1px solid #D0D0D0;
	border-top: 1px solid #CAD3DC;
	box-shadow:none;
	background-color:#fff;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e9f0f3));
	background-image: -webkit-linear-gradient(top, white, #e9f0f3);
	background-image: -moz-linear-gradient(center top , #fff, #e9f0f3);
}

.navbar .nav > li {
	padding:6px 2px 0 0 ;
}

.navbar .brand {
	padding-bottom:10px;
}

.navbar .nav > li > a {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #1F4367;
	padding:3px 15px;
	text-shadow:none;
	font-weight:bold;
	font-size:12px;
}

.navbar .nav .active > a, 
.navbar .nav .active > a:hover,
.navbar .nav > li > a:active,
.navbar .nav > li > a:hover {
	color:#fff;
	background-color: #003F79;
}

.navbar .nav > li.edit > a:hover i{
	background-image:url("../Images/glyphicons-halflings-white.png");
}

#bookmarks {
	height:500px;
	overflow:auto;
	background:#fff;
}

#bookmarks li.nav-header {
	display: block;
	padding: 3px 0;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	color: #999;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	cursor:pointer;
}

#bookmarks li.nav-header:hover {
	font-size:12px;
}

#bookmarks li a {
	display: block;
	padding:4px 0;
}

.modal .navbaritems, .form-inline {
	margin-top:9px;
}

.modal .navbaritems li {
	display:block;
	padding:5px;
	cursor:move;
	background:#fff;
	margin:2px;
	border-radius:2px;
}

.modal .navbaritems a:first-child { cursor: move;}
.modal .navbaritems a.del { font-size:20px; color:red; font-weight:bold; }
.modal .navbaritems i { opacity: 0.5; }

.modal .navbaritems li.moving {
	background:#1F4367;
	color:#fff;
	border-radius:2px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	font-weight:bold;
}

.modal .navbaritems li.moving a {
	color:#fff;
}

.modal .navbaritems li.moving i{
	background-image:url("../Images/glyphicons-halflings-white.png");
}

.modal .navbaritems li.ui-state-highlight {
	border-color:#1F4367;
	background-color:#eaeaea;
}

#contentBody {
	position: relative;
}

#contentBody #weather {
	text-align:right;
}

iframe { font-family:arial;}

footer {
	z-index: -1;
	position: fixed;
	left: 0px;
	right:0px;
	bottom: 0px;
	width: 100%;
	xborder-top:1px solid #1A446B;
	background:#00285F ;
	x-webkit-box-shadow: 0 0 7px -2px black;
	xbox-shadow: 0 0 7px -2px black;	
	font-size: 10px;
}

footer .water {
	background:#fff url("../images/water-bg.jpg") bottom left repeat-x;
	height:400px;
}

@media (max-height:800px) {
	footer .water {
		height:0;
		background:transparent none;
	}
}

footer div.pull-left {
	margin-top:10px;	
}

footer p {
	color:#fff;
	font-size: 10px;
	margin-bottom:0px;
}

footer ul { margin-bottom:25px; }

footer li {
	display:inline;
}

footer a {
	color:#9CF;
	padding-right:25px;	
	display:block;
	float:left;	
}

footer a:hover {
	color:#9CF;	
}

footer .logo {
	background: transparent url("../Images/Branding24Bit.png") no-repeat top right;
	height:30px;
	width: 91px;
	margin-top:20px;
}
